@tailwind base; 
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8fa
}

@layer base {
  body {
    @apply font-[Poppins] 
  }

  li {
    @apply px-4;
    @apply cursor-pointer
  }
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    background-color: #f8f8fa;
}

.content-div:hover {
  background-color:beige
}
